<div class="memory-card @CardModel.FlipStyle" style="order: @CardModel.Order" @onclick="Toggle">
    <img class="front-face" src="@CardModel.FrontPath" />
    <img class="back-face" src="@CardModel.BackPath" />
</div>
